*{
    box-sizing: border-box;
}

html,body{
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #F0EFF2;
}

body.auth{
    background-color: #FFFFFF;
}

main{
    height: 100vh;
}

button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 30px;
    position: sticky;
    background-color: #000000;
    color: #FFFFFF;
    font-size: 24px;
    top: 0px;
}

.header__logo{
    width: 250px;
    height: fit-content;
    vertical-align: middle;
}

.header__nav{
    display: flex;
}

.header__nav ul{
    display: flex;
    align-items: center;
}

.header__nav li{
    margin-right: 30px;
}

.header__logout{
    color: #FFFFFF;
    font-size: 24px;
}

.auth__container{
    padding: 5% 30%;
    height: 100%;
}

.container{
    padding: 5% 20%;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    color: #FFFFFF;
    font-weight: bold;
    border-radius: 5px;
    width: 450px;
    height: 45px;
}

.form__button{
    width: 100%;
    margin-top: 60px;
    font-size: 26px;
}

.auth-page__title{
    font-size: 36px;
    text-align: center;
    margin-bottom: 60px;
}

.page__title{
    padding-left: 20px;
    border-left: 8px solid #000000;
    font-size: 30px;
}

.form__label{
    display: block;
    font-size: 24px;
    font-weight: bold;
    margin: 30px 0 10px 0;
}

.form__input{
    width: 100%;
    height: 45px;
    padding: 5px;
}

.form__error{
    color: #FF0000;
    margin-top: 8px;
}

.link-button{
    display: block;
    text-align: center;
    margin-top: 30px;
    color: #0073CC;
    font-size: 20px;
}

.flex{
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    margin: 40px auto;
    background-color: #FFFFFF;
    border-radius: 10px;
    color: #737373;
    font-size: 16px;
    font-weight: bold;
}

.flex span:nth-child(2){
    color: #000000;
    font-size: 20px;
    font-weight: bold;
}

.table{
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    border-radius: 10px;
}
