.verify__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15%;
    height: 100vh;
}
.verify__container p{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
.verify__container a {
    background-color: #D9D9D9;
    border: solid 1px #000000;
    border-radius: 10px;
    text-decoration: none;
    color: #000000;
    margin-top: 40px;
    padding: 20px 30px;
    font-size: 24px;
    font-weight: bold;
}
.verify__container button {
    font-size: 20px;
    color: #0073CC;
    margin-top: 40px;
    border: #FFFFFF;
    background-color: #FFFFFF;
}
